
<div class="jumbotron jumbotron-venues"  >
  <div class="container">
    <div class="mt-10">
		<div class="page-header text-center">
			<p>
				<% if params[:search] == nil %>
					<h3>All Services</h3>
				<% else %>
					<h3>Services with "<%= params[:search] %>" : </h3>
				<% end %>
			</p>
		</div>
		<div class="text-center">
			<h4><% if can? :my_events, Event.new %>
				View <%= link_to "All Services", services_path %>
				<%end%>
				<% if can? :create, Service.new %>
					or <%= link_to "Create Service", new_service_path, class: "btn btn-info" %>
				<% end %>
			</h4>

		</div>

		<div class="d-flex justify-content-center">
			<%= form_tag(events_path, method: "get", class: "form-inline my-2 my-lg-0") do %>
				<%= text_field_tag :search, params[:search], prompt: "Enter a keyword...", class: "form-control mr-sm-2" %>
				<%= submit_tag "Search",class: "btn btn-outline-success my-2 my-sm-0" %>
			<% end %>
		</div>
	</div>
  </div>
</div>

<div class="container">

	<%= render 'tab' %>

  <div class="row">
    <% @services.each do |service|%>
      <div class="col-6 col-md-4">
        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
            <h4 class="card-title"><%= link_to "#{service.name}", service_path(service) %></h4>

            <div class="row">
              <div class="col-md-8">
                <p><%= service.description %></p>
                <p><%= service.price %></p>
              </div>
              <div class="col-md-4">
                <p>
                  <%= link_to service_path(service) do%>
                    <i class="fa fa-eye"></i>
                  <%end%>
                  <% if can? :update, service %>
                    <%= link_to edit_service_path(service) do %>
                      <i class="fa fa-pencil"></i>
                    <%end%>
                    <%= link_to service_path(service), method: :delete, data: {confirm: "Are you sure?"} do %>
                      <i class="fa fa-trash"></i>
                    <%end%>
                  <% end %>
                </p>
              </div>
            </div>


            <a href="/services/<%= "#{service.id}" %>" class="btn btn-danger btn-sm " role="button" style="border: none; color: white;">Book Service</a>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
