
<div class="container" style="height: 100vh">
  <div style="margin-top:20px"></div>

  <div class="row">
    <div class="col-md-8">
      <div class="jumbotron jumbotron-login text-center">
            <h1>EVENTOR</h1>
            <p>Event Management Simplified</p>
            <p><a class="btn btn-primary btn-lg" href="/users/sign_up" role="button">Register for free</a></p>
      </div>
    </div>

    <div class="col-md-3">
      <h2>Sign in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-success" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>


</div>
